.main{
	padding: 10px;
	height: 100vh;
}

.layout{
	display: flex;
}

.sidebar{
	min-height: 100%;
	width: 300px;
	border-radius: 5px;
	background-color: #8ec9c6;
	box-shadow: 0 0 2px grey;
	margin-right: 20px;
	color: white;
}

.content{
	width: 100%;
	height: 100%;
}

.header{
	height: 10vh;
	margin-bottom: 20px;
	box-shadow: 0 0 2px grey;
	background-color: white;
}

.body{
	height: 85vh;
	margin-bottom: 20px;
	box-shadow: 0 0 2px grey;
	background-color: white;
}

h6 {
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}

.logo h6{
	font-size: 1.5rem;
	text-align: center;
	margin: 20px 0px;
}

.menu{
	margin-top: -10px;
}

.menu-item{
	margin-top: 30px;
}

.menu-item a{
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

.menu-item i{
	font-size: 1.2rem;
	margin: 0px 15px;
}

.active{
	background-color: white;
	padding: 10px;
}

.active a, .active i{
	color: #62aeaa;
}

.header-content {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
  }
  
  .header-content i {
	font-size: 1.2rem;
	margin-right: 5px;
  }
  
  .header-content a {
	text-decoration: none;
	font-size: 1.2rem;
	color: #262626;
	margin: 0 10px;
	text-transform: uppercase;
  }
  .appointment-details {
	text-align: left;
	font-size: 18px;
	color: #333;
  }

.ant-tabs-tab {
	background-color: #add8e6;
	border: 1px solid #add8e6;
	border-radius: 5px;
	color: #000;
	text-align: center;
	padding: 5px 25px;
	margin-right: -15px;
	margin-top: 10px; 
	margin-left: 10px; 
	margin-bottom: 10px; 
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s ease;
  }
  
  
  .ant-tabs-tab:hover {
	background-color: #b0e0e6;
	color: #333;
  }
  
  .ant-tabs-tab-active {
	background-color: #87cefa; 
	color: white; 
	border-color: #87cefa; 
  }
  
  .custom-tabs .ant-tabs-tab:nth-child(1) {
	background-color: #ADE8F4;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
	text-align: center; 
	padding: 1px 25px; 
	border: 2px solid #ADE8F4;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
  }

	.custom-tabs .ant-tabs-tab-active:nth-child(1) {
		background-color: #6ED2E6;
		color: white;
		border-color: #6ED2E6;
	  }
  
  .custom-tabs .ant-tabs-tab:nth-child(1):hover {
	background-color: #6ED2E6;
	border-color: #6ED2E6;
	color: #333;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
	transform: scale(1.05);
  }
  
  .custom-tabs .ant-tabs-tab:nth-child(2) {
	background-color: #ADE8F4;
	font-family: 'Montserrat', sans-serif;
	color: #000;
	font-size: 16px;
	text-align: center;
	padding: 10px 25px;
	border: 2px solid #ADE8F4;
	border-radius: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease;
	margin-top: 10px; 
	margin-left: 30px; 
	margin-bottom: 10px; 
	cursor: pointer;
  }
  
  .custom-tabs .ant-tabs-tab:nth-child(2):hover {
	background-color: #6ED2E6; 
	border-color: #6ED2E6; 
	color: #333;
	box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); 
	transform: scale(1.05); 
  }
  

  .custom-tabs .ant-tabs-tab-active:nth-child(2) {
	background-color: #6ED2E6;
	color: white; 
	border-color: #6ED2E6;
  }


  .custom-tabs .ant-tabs-ink-bar {
	display: none;
  }
  

  .custom-tabs .ant-tabs-ink-bar {
	background-color: #87cefa;
	height: 3px;
	border-radius: 2px;
  }

.custom-tabs .ant-tabs-tab-active:nth-child(1) .ant-tabs-tab-btn,
.custom-tabs .ant-tabs-tab-active:nth-child(2) .ant-tabs-tab-btn {
  color: #000;
}

.custom-tabs .ant-tabs-tab:nth-child(1) .ant-tabs-tab-btn,
.custom-tabs .ant-tabs-tab:nth-child(2) .ant-tabs-tab-btn {
  color: #000;
  transition: color 0.3s ease;
}

.logo3 {
	width: 120px;
	height: 60px;
	background: url('../images/Logowhite.png') no-repeat center center/contain;
	margin: 10px auto;
	position: relative;
	top: 0px;
	}
	
.logo-container2 {
	display: flex;
	align-items: center;
	}
	
.logo4 {
	width: 60px;
	height: 60px;
	background: url('../images/KQueLogowhite.png') no-repeat center center/contain;
	margin-left: 30px;
	margin-right: 10px;
	}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary {
  background-color: #ADE8F4; /* Default color */
  color: rgb(23, 23, 23);
  transition: all 0.3s ease; /* Smooth hover effect */
}

.btn-primary:hover {
  background-color: #6ED2E6; /* Darker color for hover effect */
  color: rgb(23, 23, 23);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  transform: scale(1.05); /* Slightly enlarge tab for hover effect */
}

.btn-primary2 {
	background-color: #6ED2E6; /* Default color */
	color: rgb(23, 23, 23);
	transition: all 0.3s ease; /* Smooth hover effect */
  }

.btn-primary2:hover {
  background-color: #65cce0; /* Darker color for hover effect */
  color: rgb(23, 23, 23);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  transform: scale(1.05); /* Slightly enlarge tab for hover effect */
}

.sidebar {
	width: 250px;
	background-color: #8ec9c6;
	box-shadow: 0 0 2px grey;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	transition: width 0.3s ease, visibility 0.3s ease;
	z-index: 999;
  }
  
  .sidebar.hidden {
	width: 0;
	visibility: hidden;
  }
  
  .content {
	transition: margin-left 0.3s ease;
  }

  .custom-calendar-container .ant-picker-calendar .ant-picker-cell-inner {
    height: 70px !important; /* Adjust the height as needed */
    padding: 4px !important; /* Adjust the padding as needed */
}

.custom-calendar-container .ant-picker-calendar .ant-picker-panel .ant-picker-content th,
.custom-calendar-container .ant-picker-calendar .ant-picker-panel .ant-picker-content td {
    padding: 4px !important; /* Adjust the padding as needed */
}

.toggle-btn {
	position: fixed;
	top: 60px;
	left: 20px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease, left 0.3s ease, top 0.3s ease; /* Add transition for smooth movement */
  }
  
  .toggle-btn:hover {
	background: rgba(0, 0, 0, 0.9);
	transform: scale(1.05); /* Slightly enlarge the button on hover */
  }
  
  .toggle-btn.sidebar-visible {
	top: 80px;
	left: 250px; /* Adjust the left position when the sidebar is visible */
  }
  
  .toggle-btn.sidebar-hidden {
	top: 80px; /* Adjust the top position when the sidebar is not visible */
  }
  
  @media (max-width: 768px) {
	.header-content {
		justify-content: space-between;
		padding: 0 10px;
	  }
	
	  .header-content a {
		font-size: 1rem;
		margin: 0 -100px;
		position: relative; /* Add position relative */
    	left: 120px; /* Move left */
	  }
	
	  .header-content i {
		font-size: 1rem;
		margin-right: 3px;
		position: relative; /* Add position relative */
		top: 0px; /* Move up */
    	left: 0px; /* Move left */
	  }
	  .header-content .ant-badge {
		font-size: 1rem;
		margin-right: 3px;
		position: relative; /* Add position relative */
    	left: 120px; /* Move left */
	  }
	  .appointment-details {
		font-size: 14px; /* Adjust font size for smaller screens */
	  }
	  
	.content {
	  margin-left: 0;
	}
	.sidebar.visible {
	  width: 80%;
	  visibility: visible;
	}
	.toggle-btn {
		top: 40px;
		left: 20px;
		padding: 8px 16px;
	  }
	
	  .toggle-btn.sidebar-visible {
		top: 80px;
		left: 51%; /* Adjust the left position for mobile when the sidebar is visible */
	  }
	
	  .toggle-btn.sidebar-hidden {
		top: 80px; /* Adjust the top position for mobile when the sidebar is not visible */
	  }
  }
  